.latestissues{
    display: grid;
    grid-gap: 1.5em;
    padding: 1em;
    letter-spacing: 0.05rem;
}

/* latestissues-title */
.latestissues-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0.5em;
}

.latestissues-title > h1{
    font-size: var(--size-5xl);
    letter-spacing: 0.04em;
}

.latestissues-title > p{
    font-size: var(--size-md);
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: calc(1.5*var(--size-md));
}

/* latestissues-stories */
.latestissues-stories{
    order: 1;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.latestissues-stories-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.latestissues-stories-title > h1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--size-5xl);
}

.latestissues-stories-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.latestissues-story{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}

.latestissues-story-imgWrapper{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    aspect-ratio: 1/1;
}


.latestissues-story > .img1{
    background-image: url("/public/Assets/Images/latest_issues/latestissues__stories-1.webp");
}

.latestissues-story > .img2{
    background-image: url("/public/Assets/Images/latest_issues/latestissues__stories-2.webp");
}

.latestissues-story > .img3{
    background-image: url("/public/Assets/Images/latest_issues/latestissues__stories-3.webp");
}

.latestissues-story > .img4{
    background-image: url("/public/Assets/Images/latest_issues/latestissues__stories-4.webp");
}

.latestissues-story > .img5{
    background-image: url("/public/Assets/Images/latest_issues/latestissues__stories-5.jpg");
}

.latestissues-story > .img6{
    background-image: url("/public/Assets/Images/latest_issues/latestissues__stories-1.webp");
}

.latestissues-story-information{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5em;
}

.latestissues-story-information p:nth-child(2){
    transition: all 2s ease;
}

.latestissues-story-information p:nth-child(2):hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}

.latestissues-stories-seemoreBtn{
    text-align: center;
    font-size: var(--size-base);
    letter-spacing: 0.04em;
    font-weight: 500;
}


/* latestissues-promoTile-main */

.latestissues-promoTile-main{
    position: relative;
    width: auto;
    aspect-ratio: 1/1;
    background-image: url("../../public/Assets/Images/latest_issues/latestissues__card-1.avif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--clr-offwhite);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.5em 1em;
    transition: scale 0.3s ease-out;
}

.latestissues-promoTile-main:hover{
    scale: 1.1;
}

.latestissues-promoTile-main-information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    position: relative;
    z-index: 2;
}

.latestissues-promoTile-main-information p:nth-child(2){
    font-size: var(--size-2xl);
    font-weight: 650;
}

.latestissues-promoTile-readBtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    margin-top: 1em;
}

.latestissues-promoTile-readBtn img{
    height: 25px;
    width: auto;
}

/* latestissues-promoTile-secondary */

.latestissues-promoTile-secondary{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    flex: 1;
    background-color: var(--clr-offwhite);
    color: var(--clr-black);
    transition: scale 0.3s ease-out;
}

.latestissues-promoTile-secondary:hover{
    scale: 1.1;
}

.latestissues-promoTile-secondary img{
    width: 100%;
    object-fit: cover;
}

.latestissues-promoTile-secondary-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    flex: 1;
    padding: 1.5em 1em;
    background-color: var(--clr-offwhite);
    color: var(--clr-black);
    transition: scale 0.3s ease-out;
}

.latestissues-promoTile-secondary-information p:nth-child(2){
    font-size: var(--size-xl);
    font-weight: 650;
}

.latestissues-promoTile-secondary-information p:nth-child(3){
    margin-top: 1em;
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {

    .latestissues-promoTile-main{
        aspect-ratio: 7/5;
    }

    .latestissues-promoTile-secondary img{
        height: 65%;
    }
}

/* md */
@media (min-width: 768px) {

    .latestissues{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(autofit, 1fr);
    }

    .latestissues-title{
        grid-area: 1/1/2/4;
    }

    .latestissues-stories{
        grid-area: 2/1/4/2;
        gap: 1.5em;
    }

    .latestissues-stories-wrapper{
        gap: 1.5em;
    }

    .latestissues-stories-title > h1{
        font-size: var(--size-xl);
    }

    .latestissues-story-information{
        font-size: var(--size-sm);
    }

    .latestissues-stories-seemoreBtn{
        font-size: var(--size-sm);
    }

    .latestissues-promoTile-main{
        grid-area: 2/2/3/4;
        aspect-ratio: 17/10;
    }

    .latestissues-promoTile-main-information{
        font-size: var(--size-sm);
    }

    .latestissues-promoTile-main-information p:nth-child(2){
        font-size: var(--size-lg);
        font-weight: 650;
    }

    .latestissues-promoTile-secondary-information{
        font-size: var(--size-xs);
        padding: 1.5em 1em;
    }

    .latestissues-promoTile-secondary-information p:nth-child(2){
        font-size: var(--size-sm);
        font-weight: 650;
    }

    .tile1{
        grid-area: 3/2/4/3;
    }

    .tile2{
        grid-area: 3/3/4/4;
    }

    .latestissues-promoTile-secondary img{
        height: 50%;
    }  
}

/* lg */
@media (min-width: 1024px) {
    .latestissues{
        padding-left: 3em;
        padding-right: 3em;
    }

    .latestissues-promoTile-main{
        aspect-ratio: 8/5;
    }

    .latestissues-promoTile-main-information{
        font-size: var(--size-md);
    }

    .latestissues-promoTile-main-information p:nth-child(2){
        font-size: var(--size-xl);
        font-weight: 650;
    }

    .latestissues-promoTile-secondary-information{
        font-size: var(--size-sm);
        padding: 1.5em 1em;
        gap: 0;
    }

    .latestissues-promoTile-secondary-information p:nth-child(2){
        font-size: var(--size-md);
        font-weight: 650;
    }

    .latestissues-promoTile-secondary img{
        height: 50%;
    }
}

/* xl */
@media (min-width: 1280px) {
    .latestissues{
        padding: 0 8em;
        grid-gap: 2em;
    }

    .latestissues-stories-title > h1{
        font-size: var(--size-3xl);
    }

    .latestissues-story-information{
        font-size: var(--size-md);
    }

    .latestissues-stories-wrapper{
        gap: 2em;
    }

    .latestissues-promoTile-main{
        aspect-ratio: 157/100;
    }

    .latestissues-promoTile-main-information p:nth-child(2){
        font-size: var(--size-3xl);
        font-weight: 650;
        padding-right: 2em;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .latestissues{
        padding: 0 15em;
        grid-gap: 2em;
    }

    .latestissues-title{
        margin-top: 3em;
    }

    .latestissues-title > h1{
        font-size: var(--size-7xl);
    }

    .latestissues-title > p{
        font-size: var(--size-base);
    }
}